ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin: 5px;
}

.center-section {
  text-shadow: 3px 3px 3px #5777C0;
  margin: 25px;
  text-align:center;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}



header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background: rgba(0, 0, 0, 0.3);
  /* background-image: url(http://res.cloudinary.com/sepuckett86/image/upload/v1513176676/IMG_7166_hlep5j.jpg); */
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

#list {
  background: #2b2b2b;
  color: white
}
